#root {
    height: 100%;
  }
  
// @font-face {
//     font-family: yofont;
//     src: url('/assets/icons/iconfont.woff') format('woff'),
//         url('/assets/icons/iconfont.tff') format('truetype');
// }
@font-face {
  font-family: 'yofont';  /* project id 1446298 */
  src: url('//at.alicdn.com/t/font_1446298_3ue7mrikg7f.woff') format('woff'),
  url('//at.alicdn.com/t/font_1446298_3ue7mrikg7f.ttf') format('truetype');
}