.index-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    header {
        background-color: #fff;
        height: .4rem;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
           font-size: .25rem; 
        }
    }

    main {
        flex: 1;
        overflow: hidden;
    }

    footer {
        background-color: #fff;
        box-shadow: 0 -11px 32px rgba(0,0,0,.08);
        height: .62rem;
        position: relative;
        .ul-nav {
            display: flex;
            padding: 0 .4rem;
            height: 100%;;
            li{
                flex: 1;
                display: flex;
                text-align: center;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                span{
                    display: block;
                    width: .27rem;
                    height: .27rem;
                    margin-bottom: .05rem;
                    background-color: #b3b3b3;
                    background-repeat: no-repeat;
                }
                .icon-home{
                    -webkit-mask-image: url(https://static.smartisanos.cn/mobilenew/img/tab-home.60ec9f48.svg);
                }
                .icon-category{
                    -webkit-mask-image: url(https://static.smartisanos.cn/mobilenew/img/tab-classification.3d3def22.svg); 
                }
                .icon-cart{
                    -webkit-mask-image: url(https://static.smartisanos.cn/mobilenew/img/tab-packbag.1b4ff6d6.svg);                    
                }
                .icon-profile{
                    -webkit-mask-image: url(https://static.smartisanos.cn/mobilenew/img/tab-contact.690a6469.svg);                    
                }
                h5{
                    color: #9A9A9A;
                    font-size: .12rem;
                    line-height: .12rem;
                }
                &.active{
                    span{
                        background-color: #d44d44;
                        transform: scale(1.1);
                    }
                    h5{
                        color: #d44d44;
                    }
                }
            }
        }
    }

}