
.scroll-container-warp{
    height: 100%;
    overflow: hidden;
}
.search-bar-wrap{
    background-color: #fff;
    height: .52rem;
    padding: .09rem;
    position: relative;
    width: 100%;
    .search-bar{
        padding: .06rem .1rem;
        height: .34rem;
        // border: 1px solid ;
        @include border(1,#e9e9e9,solid,.34rem);
        background-color: #f5f5f5;
        display: flex;
        align-items: center;
        color: #b3b3b3;
        .search-icon{
            .yo-ico{
                font-size: .22rem;
            }
        }
        .search-val{
            margin-left: .09rem;
        }
    }
    &.shadow{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        box-shadow: 0 1px 0 hsla(0,0%,40%,.1);
        z-index: 999;
    }
}

.scroll-container{
    .head,.foot{
        height: .4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: .16rem;
            height: .16rem;
            transition: transform 150ms;
            -webkit-transition: transform 150ms;
        }
    }
    .head img {
        transform: rotate(180deg);
    }
    
    .up {
    transform: rotate(360deg) !important;
    -webkit-transform: rotate(360deg) !important;
    }

    .down {
    transform: rotate(180deg);
    }
}
.swiper-container {
    background-color: #fff;
    height: 1.94rem;
    .swiper-slide {
        padding: 0 .14rem;

        img {
            width: 100%;
            border-radius: .16rem;
        }
    }

}

.home-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: .16rem;
    background-color: #fff;
}
.headerline-wrap {
    @include border(.01rem 0 0 0 , #e9e9e9, dotted);
    background-color: #fff;
    padding: .16rem 0 .16rem .23rem;
    h3 {
        font-size: .18rem;
        line-height: .24rem;
        color: rgba(0, 0, 0, .8);
    }
}

.product-list-container {

    background-color: #fff;
    padding: 0 .14rem 0;
    width: 100%;
    position: relative;
    .product-list-wrap {
        display: flex;
        width: 100%;

        flex-flow: row wrap;
        align-content: flex-start;
        justify-content: space-between;
        .product-list-item {
            width: calc(50% - .03rem);
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            margin-bottom: .16rem;
            .product-img-cover {
                height: 1.65rem;
                overflow: hidden;
                border-radius: .08rem;
                background: rgba(0,0,0,.03);
                img {
                    width: 100%;
                    mix-blend-mode: multiply;
                }
            }

            .product-tit {
                padding: 0 6px;
                margin: .06rem 0 .01rem;
                h3 {
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    color: rgba(0, 0, 0, .7);
                    font-size: .14rem;
                }
            }
        }

    }
}

.back-to-top{
    width: .35rem;
    height: .4rem;
    position: fixed;
    right: .14rem;
    bottom: 0;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0.03rem 0.12rem rgba(0,0,0,.06);
    border-radius: .07rem;
    transition: all .5s cubic-bezier(.215,.61,.355,1);
    z-index: 99;
    span{
        font-size: .22rem;
        color: rgba(0,0,0,.4);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    &::after{
        content: "";
        position: absolute;
        top: -0.24rem;
        left: -0.24rem;
        right: -0.24rem;
        bottom: -0.24rem;
    }
    &.active{
        bottom: .8rem;
        opacity: 1;
    }
}